<div class="w-10/12 mx-auto max-md:flex-col items-center flex py-6">
        <div class="w-1/4 max-md:w-full ">
            <div class="w-full  px-3">
                <div>
                    <owl-carousel-o [options]="customOptions">
        
                        @for (img of myProduct?.images; track $index) {
                            <ng-template carouselSlide >
                               <div class="w-full ">
                                <img [src]="img" [alt]="myProduct?.title" [title]="myProduct?.title" class="w-full h-full" >
                               </div>
                              </ng-template>
                        
                        }
        
                    
                      </owl-carousel-o>
           
            </div>
        </div>


    </div>
    <div class="w-3/4 max-md:w-full">
        <div class="flex flex-col gap-y-3 w-full max-md:w-full max-md:flex-wrap">
            <h2>{{myProduct?.title}}</h2>
            <p>{{myProduct?.description}}</p>
            <span>{{myProduct?.category?.name}}</span>
            <div class="flex justify-between">
                <span>{{myProduct?.price}}EGP</span>
                <span>
                    {{myProduct?.ratingsAverage}}
                    <i class="fa-solid fa-star rating-color"></i>
                </span>
               
            </div>
            <button class="btn-main w-full  " (click)="addProduct(myProduct._id)">+ Add to card
                @if (loading) {
                    <i class="fa-solid fa-spin fa-spinner"></i>
                  }
            </button>
        </div>
    </div>
</div>
