@if (!isCode && !isReset) {
    <div class="w-3/4 mx-auto">
        <h3 class="text-main font-bold">Send your email</h3>
        <form [formGroup]="emailForm" class="my-4" (ngSubmit)="sendEmail()">
            @if (errorMsg) {
                <div id="alert-4" class="flex items-center p-4 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
                  <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <p>Error : {{errorMsg}}</p>
                  
                </div>
              }
            <div>
            <label for="email" >Enter your email :</label>
            <input type="email" class="w-full rounded rounded-s  border-gray-400 mt-2" formControlName="email" id="email">
            </div>
            <button class="btn-main block ms-auto my-3" (click)="sendEmail()" [disabled]="emailForm.invalid">Send
                @if (loading) {
                    <i class="fa-solid fa-spin fa-spinner"></i>
                  }
            </button>
        </form>
    
    </div>
}
@if (isCode) {
    <div class="w-3/4 mx-auto">
        <h3 class="text-main font-bold">Send your code</h3>
        <form [formGroup]="codeForm" class="my-4" (ngSubmit)="sendCode()">
            @if (errorMsg) {
                <div id="alert-4" class="flex items-center p-4 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
                  <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <p>Error : {{errorMsg}}</p>
                  
                </div>
              }
            <div>
                <label for="code" >Enter code :</label>
            <input type="text" class="w-full rounded rounded-s  border-gray-400 mt-2" formControlName="resetCode" id="code">
            </div>
            <p class="text-main font-medium cursor-pointer" (click)="sendEmail()">Send another code</p>
            <button class="btn-main block ms-auto my-3" [disabled]="codeForm.invalid">Send
                @if (loading) {
                    <i class="fa-solid fa-spin fa-spinner"></i>
                  }
            </button>
        </form>
    
    </div>
}
@if (isReset) {
    <div class="w-3/4 mx-auto">
        <h3 class="text-main font-bold">ٌReset your Password</h3>
        <form [formGroup]="resetDataForm" class="my-4" (ngSubmit)="resetData()">
            @if (errorMsg) {
                <div id="alert-4" class="flex items-center p-4 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
                  <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <p>Error : {{errorMsg}}</p>
                  
                </div>
              }
            <div>
                <label for="email" >Enter your email :</label>
            <input type="email" class="w-full rounded rounded-s  border-gray-400 my-2" formControlName="email" id="email"> 
            </div>
            <div>
                <label for="newPassword" >Enter new Password :</label>
            <input type="password" class="w-full rounded rounded-s  border-gray-400 my-2" formControlName="newPassword" id="newPassword">
            </div>
            <button class="btn-main block ms-auto my-3" [disabled]="resetDataForm.invalid">submit
                @if (loading) {
                    <i class="fa-solid fa-spin fa-spinner"></i>
                  }
            </button>
        </form>
    
    </div>
}



